/*Page General Layout*/

body {
	font-family: 'Roboto', sans-serif !important;
	min-width: 320px;
	background-color: #303030;
}
.main-container {
	max-width: 1280px;
	margin: 0 auto;
}

/*Nav*/

.mega-menu {
	position: fixed;
	top: 0;
	left: 0;
	width:100%;
	height:80px;	
	z-index:1;
	background-color: #E0E0E0;
	text-transform: uppercase;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.mobile {
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
}

.mobile div {
	display: none;
}

.mobile button {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	text-indent: 200%;
	overflow: hidden;
	background: #4A4A4A url("../images/hamburger-icon.png") center no-repeat;
	background-size: 80%;
	width: 78px;
	height: 78px;
	outline: none;
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}

.mobile button.expanded {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	background-color: transparent;
	border: 0;
	width: 40px;
	height: 40px;
}

.mobile a {
	display: block;
	background-color: #E0E0E0;
}

nav a {
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #848484;
	text-decoration: none;
	color: #9A9A9A;
	font-weight: bold;
}
nav a:hover, nav a:active, nav a:focus {

	color: #400c72;
	text-decoration: underline;
}
.desktop {
	display: none;
	overflow: hidden;
}

.desktop a {
	/* width: 21%; */
	display: inline-block;
	border-right: 2px solid #9A9A9A;
	box-sizing: border-box;
}

.desktop a:last-child {
	/* width:22%; */
	border-right: none;
}

.brand-logo .brand-icon {
	margin: 18px 0 0 0;
	float: left;
}

/*Hero Section*/
.header {
    margin-top: 80px;
}
.hero-wrapper {
	background: url('../images/background_hero.png') top center;
}
.hero-logo {
	padding: 24px 70px 17px;
	margin: 0 auto;
}

/*Content section*/
.body-content {
	background-color: #000;
	color: #fff;
}
.body-content h1, .body-content h2 {
	text-align: center;
	text-transform: uppercase;
}
.body-content a {
	color: #CA0220;
}

.body-content .CTA {

	background: -moz-linear-gradient(-45deg,  rgba(236,77,91,1) 0%, rgba(202,2,32,0) 100%) #CA0220; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(236,77,91,1) 0%,rgba(202,2,32,0) 100%) #CA0220; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(236,77,91,1) 0%,rgba(202,2,32,0) 100%) #CA0220; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding: 10px 30px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.body-content .lead-content {
	background: url('../images/parallax.png') top center no-repeat;
	background-size: cover;
	text-align: center;
	padding: 30px 0;
}
.lead-content h1 {
	font-size: 20px;
	margin: 15px 0;
}

.mid-content, .awards, #gallery {
	padding: 82px 0;
}

.steps,.videos-container {
	text-align: center;
	padding: 30px 0;
}
.steps .step-img {
	padding-bottom: 30px;
}

.mid-content {
	text-align: center;
}
a.reglamento {
	color: #d4d4d4;
	font-size: 12px;
	text-transform: uppercase;
}
/*regform*/

.regform-wrapper {
	min-width: 320px;
	margin: 0 auto;
	padding-top: 82px;
	margin-top: 30px;
	margin-bottom: 15px;
}
#smartregform {
	display: none;
}

#smartregform div {
	padding-bottom: 15px;
}

#smartregform input {
	color: #000;
}
#smartregform label, #smartregform input[type="text"], #smartregform input[type="file"] {
	display: table-cell;
	width: 100%;
}
#smartregform input[type="file"] {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}

input#btn_enviar {
	border: 0;
	color: #FFF;
	text-transform: uppercase;
}

form .error {
  color: #ff0000;
}

/* Galeria de premios*/

.carousel {
	padding: 30px 0px;
}
.carousel .carousel-indicators {
	bottom: 0;
	z-index: 0;
}
.carousel .item img {
	padding-bottom: 30px;
	margin: 0 auto;
}
.carousel .item p {
	font-size: 12px;
	text-transform: uppercase;
	text-align: center;
}

/*Galeria premios desktop*/
.carousel-desktop {
	display: none;
}
.prize-thumb {
	text-align: center;
	padding-top: 30px;
}
.prize-thumb img {
	padding-bottom: 30px;
	margin: 0 auto;
}
/*Video Gallery*/

.video-thumbnail {
	padding: 30px 0;
}
.video-thumbnail > div {
	width: 280px;
	margin: 0 auto;
}
.video-js .vjs-big-play-button{
	top:37%;
	left:37%;
}

.vjs-poster, .video-js .vjs-tech{
	border:1px solid #848484;
}

#gallery {
	text-align: center;
}
#full-gallery {
	display: none;
}

/* paginator */
ul.pagination li a {
    background: #848484;
    color: #FFF;
}
ul.pagination li.active a, ul.pagination li.active a:focus {
    background-color: #CA0220;
    border-color: #CA0220;
}
	
/*Footer*/
footer {
	background-color: #848484;
	color: #fff;
}
footer p {
    padding: 36px 20px;
    font-size: 13px;
}

/*Media Queries*/
@media only screen and (min-width: 768px) {
	/*nav*/
	.mega-menu {
		padding-bottom: 55px;
	}
	.brand-logo {
		float: left;
	}
	
	nav a {
		border-bottom: none;
	}
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
		position: relative;
		top: 18px;
		left: 33px;
	}
	.desktop a {
		height: 42px;
		padding: 12px;
	}
	
	/* content*/
	.mid-content, .awards, #gallery {
		padding: 80px 0;
	}
	
	/*hero*/
	.hero-wrapper {
		padding-top: 21px;
		padding-bottom: 28px;
	}
	/*lead content*/
	.lead-content {
		min-height: 327px;
	}
	.lead-content .participa.CTA {
		padding: 20px 50px;
		margin-top: 47px;
		margin-bottom: 34px;
		font-size: 18px;
	}
	.lead-content h1 {
		font-size: 36px;
		width: 690px;
		margin: 0 auto;
	}

	/*Mid Content*/
	.mid-content h2 {
		font-size: 24px;
		margin-top: 17px;
	}

	.steps {
		text-align: center;
		padding-top: 43px;
	}
	.steps .step-img {
		padding-bottom: 33px;
	}

	.mid-content .participa.CTA {
		font-size: 18px;
		padding: 20px 50px;
		margin-top: 114px;
	}
	/*Awards*/
	.awards h2 {
		font-size: 24px;
		width: 640px;
		margin: 0 auto;
		margin-top: 17px;
	}

	/*Gallery*/
	.videos h2 {
		font-size: 24px;
		margin-top: 17px;
	}
	
	.video-thumbnail > div {
		width: 350px;
		margin: 0 auto;
	}
	/*Carousel*/
	.carousel-mobile {
		display: none;
	}
	.carousel-desktop {
		display: initial;
	}
	.videos #more-videos.CTA {
		padding: 20px 50px;
	}
	/*footer*/
	footer p {
		padding: 40px 141px;
		font-size: 18px;
	}
	/*regform*/
	.regform-wrapper {
		max-width: 640px;
		padding-top:90px;
	}
}
@media only screen and (min-width: 1024px){
	/*Nav*/
	.brand-logo .brand-icon {
		margin-left: 80%;
		
	}
	
	.desktop a:first-child {
		width: 11%;
	}
	.desktop a:nth-child(2) {
		width: 13%;
	}
	.desktop a:last-child {
		width: 30%;
	}
	
}
@media only screen and (min-width: 1280px){
	.desktop a:first-child {
		width: 11%;
	}
	.desktop a:nth-child(2) {
		width: 11%;
	}
	.desktop a:last-child {
		width: 22%;
	}
}

