/*Page General Layout*/

body {
	font-family: 'Roboto', sans-serif !important;
	min-width: 320px;
	background-color: #303030;
}
a:focus, a:hover {
	color: #FFF;
	text-decoration: none;
}
.main-container {
	max-width: 1280px;
	margin: 0 auto;
}

strong {
    font-weight: 600;
}

/*Nav*/

.mega-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	z-index: 1;
	background-color: #E0E0E0;
	text-transform: uppercase;
	box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}

.mobile {
	display: block;
	position: absolute;
	width: 100%;
	top: 0;
}

.mobile div {
	display: none;
}

.mobile button {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
	text-indent: 200%;
	overflow: hidden;
	background: #4A4A4A url("../images/hamburger-icon.png") center no-repeat;
	background-size: 80%;
	width: 78px;
	height: 78px;
	outline: none;
	-webkit-transition: all 400ms ease;
	transition: all 400ms ease;
}

.mobile button.expanded {
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
	background-color: transparent;
	border: 0;
	width: 40px;
	height: 40px;
}

.mobile a {
	display: block;
	background-color: #E0E0E0;
}

nav a {
	text-align: center;
	padding: 20px 0;
	border-bottom: 1px solid #848484;
	text-decoration: none;
	color: #9A9A9A;
	font-weight: bold;
}
nav a:hover, nav a:active, nav a:focus {

	color: #400c72;
	text-decoration: underline;
}
.navbar {
	min-height: 0;
}
.desktop {
	display: none;
	overflow: hidden;
}

.desktop a {
	/* width: 21%; */
	display: inline-block;
	border-right: 2px solid #9A9A9A;
	box-sizing: border-box;
}

.desktop a:last-child {
	/* width:22%; */
	border-right: none;
}

.brand-logo .brand-icon {
	margin: 18px 0 0 0;
	float: left;
}

.brand-logo .lte {
	float: left;
	display: inline-block;
	margin: 22px 6px;
}

/*Hero Section*/
.header {
	margin-top: 80px;
}
.hero-wrapper {
	background: url('../images/background_hero.png') top center;
}

.ue-hero,.claro-white {width: 23%; display: none;}
.hero-logo {
	padding: 24px 70px 17px;
	margin: 0 auto;
}

/*Content section*/
.body-content {
	background-color: #000;
	color: #fff;
}
.body-content h1, .body-content h2 {
	text-align: center;
	text-transform: uppercase;
}
.body-content a {
	color: #CA0220;
}

.body-content .CTA {

	background: -moz-linear-gradient(-45deg,  rgba(236,77,91,1) 0%, rgba(202,2,32,0) 100%) #CA0220; /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(236,77,91,1) 0%,rgba(202,2,32,0) 100%) #CA0220; /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(236,77,91,1) 0%,rgba(202,2,32,0) 100%) #CA0220; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding: 10px 30px;
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	color: #fff;
	text-transform: uppercase;
}

.body-content .lead-content {
	text-align: center;
	padding: 30px 0;
}
.parallax-bg {
    background: url('../images/parallax.png') no-repeat;
    background-attachment: scroll;
    background-position: top center;
    background-size: cover;
}
.lead-content h1 {
	font-size: 20px;
	margin: 15px 0;
}

.mid-content, .awards, #gallery,#jurados-section {
	padding: 82px 0;
}

.steps, .videos-container {
	text-align: center;
	padding: 30px 0;
}
.steps .step-img {
	padding-bottom: 30px;
}

.mid-content {
	text-align: center;
}
a.reglamento {
	color: #d4d4d4;
	font-size: 12px;
	text-transform: uppercase;
}
/*regform*/

.regform-wrapper {
	min-width: 320px;
	margin: 0 auto;
	padding-top: 82px;
	margin-top: 30px;
	margin-bottom: 15px;
}
#smartregform {
	display: none;
}

#smartregform div {
	padding-bottom: 15px;
}

#smartregform input {
	color: #000;
}
#smartregform label, #smartregform input[type="text"], #smartregform input[type="file"] {
	display: table-cell;
	width: 100%;
}
#smartregform input[type="file"] {
	-webkit-appearance: button;
	-moz-appearance: button;
	appearance: button;
}

input#btn_enviar {
	border: 0;
	color: #FFF;
	text-transform: uppercase;
}

form .error {
	color: #ff0000;
}

/* Galeria de premios*/
.awards {
	background-color: #373737;
}
.detalle-premios {
	padding-top: 18px;
}
.fase-uno, .fase-dos {
	padding-top: 30px;
}
.circulo {
	background: -moz-linear-gradient(-45deg, rgba(236,77,91,1) 0%, rgba(202,2,32,0) 100%) #CA0220;
	background: -webkit-linear-gradient(-45deg, rgba(236,77,91,1) 0%,rgba(202,2,32,0) 100%) #CA0220;
	background: linear-gradient(135deg, rgba(236,77,91,1) 0%,rgba(202,2,32,0) 100%) #CA0220;
	display: inline-block;
	padding: 54px 15px;
	position: relative;
	border-radius: 70px;
	margin-bottom: 15px;
	left: 33%;
}
.rectangulo {
	display: inline-block;
	padding: 20px 19px;
	border: 1px solid #848484;
	border-radius: 10px;
}
.lugar {
	text-align: center;
	padding-bottom: 20px;
}
.lugar p {
	text-align: initial;
}

/*Video Gallery*/

.video-thumbnail {
	padding: 30px 0;
}
.video-thumbnail > div {
	width: 280px;
	margin: 0 auto;
}
.video-js .vjs-big-play-button {
	top: 37%;
	left: 37%;
}

.vjs-poster, .video-js .vjs-tech {
	border: 1px solid #848484;
}

#gallery {
	text-align: center;
}
#full-gallery {
	display: none;
}

/*nombre participantes*/
.nombre-participante {
    padding: 10px 0;
    display: inline-block;
}

/* paginator */
ul.pagination li a {
	background: #848484;
	color: #FFF;
}
ul.pagination li.active a, ul.pagination li.active a:focus {
	background-color: #CA0220;
	border-color: #CA0220;
}
/*
 	Ganadores finales section 
 * */
#ganadores-finales-section {
    padding-bottom: 60px;
}

/*Jurado*/
#jurados-section, #ganadores-finales-section {
	max-width: 1280px;
	margin: 0 auto;
	display: none;
}
.jurados-container h2 {
    font-size: 22px;
}
.jurados-container{
	text-align: center;
}
.jurados-container a {
    padding: 10px 15px;
    display: inline-block;
}


/*modal jurado*/
.modal-dialog {
    max-width: 900px;
    width: initial;
}
h3.modal-title {
    font-weight: 600;
    font-size: 20px;
}


/*Logos patrocinadores*/
.logos-wrapper {
	padding: 40px 30px;
}

.logos-wrapper a {
	font-size: 13px;
}
.logos-wrapper a:hover {
    color: #e3e0e0;
    text-decoration: underline;
}
a.link-patrocinadores {
	color: #FFFFFF;
	text-transform: uppercase;
}
.logos-universidades, .logos-presentan, .logos-apoyan, .logos-patrocinan {
	display: none;
	padding-bottom: 30px;
	padding-top: 30px;
}

.logos-universidades img, .logos-presentan img, .logos-apoyan img, .logos-patrocinan img {
	width: 150px;
	display: inline-block;
	vertical-align: middle;
	padding: 0 15px;
	padding-bottom: 15px;
}

/*Footer*/
footer {
	background-color: #848484;
	color: #fff;
}
footer p {
	font-size: 13px;
	text-align: right;
	padding: 40px 30px;
}

/*Media Queries*/
@media only screen and (min-width: 768px) {
	/*nav*/
	.mega-menu {
		padding-bottom: 55px;
	}
	.brand-logo {
		float: left;
	}

	nav a {
		border-bottom: none;
	}
	.mobile {
		display: none;
	}
	.desktop {
		display: block;
		position: relative;
		top: 18px;
		left: 33px;
	}
	.desktop a {
		height: 42px;
		padding: 12px;
	}

	/* content*/
	.mid-content, .awards, #gallery {
		padding: 80px 0;
	}

	/*hero*/
	.ue-hero,.claro-white {
		display: initial;
	}
	.hero-wrapper {
		padding-top: 21px;
		padding-bottom: 28px;
	}
	/*parallax**/
	.parallax-bg{
		background-attachment: fixed;
	    min-height: 335px;
	    background-position: top center;
	    /*background-size: 250%;*/	
	}
	
	/*lead content*/
	.lead-content {
		min-height: 327px;
	}
	.lead-content .participa.CTA {
		padding: 20px 50px;
		margin-top: 47px;
		margin-bottom: 34px;
		font-size: 18px;
	}
	.lead-content h1 {
		font-size: 36px;
		width: 710px;
		margin: 0 auto;
	}

	/*Mid Content*/
	.mid-content h2 {
		font-size: 24px;
		margin-top: 17px;
	}

	.steps {
		text-align: center;
		padding-top: 43px;
	}
	.steps .step-img {
		padding-bottom: 33px;
	}

	.mid-content .participa.CTA {
		font-size: 18px;
		padding: 20px 50px;
		margin-top: 114px;
	}
	/*Awards*/
	.awards h2 {
		font-size: 24px;
		width: 640px;
		margin: 0 auto;
		margin-top: 17px;
	}

	/*Gallery*/
	.videos h2 {
		font-size: 24px;
		margin-top: 17px;
	}

	.video-thumbnail > div {
		width: 350px;
		margin: 0 auto;
	}
	
	.ganadores > div {
		width: 700px;
		height: 500px;
	}
	
	.ganadores .video-js .vjs-big-play-button {
		top: 46%;
		left: 46%;
	}
	
	/* lista premios*/
	.fase-uno, .fase-dos {
		padding: 30px 30px;
	}
	.lista-premios li:nth-child(2) p, .lista-premios li:nth-child(3) p {
		top: -18px;
	}
	.lista-premios {
		padding: 0 120px;
	}
	.circulo {
		left: 20px;
	}

	/*Carousel*/
	.carousel-mobile {
		display: none;
	}
	.carousel-desktop {
		display: initial;
	}
	.videos #more-videos.CTA {
		padding: 20px 50px;
	}
	/*patrocinadores*/
	.logos-wrapper {
		padding: 41px 141px;
	}
	.logos-wrapper a {
		font-size: 18px;
	}

	.logos-universidades, .logos-presentan, .logos-apoyan, .logos-patrocinan {
		padding-top: 30px;
	}
	/*footer*/
	footer p {
		padding: 40px 141px;
		font-size: 18px;
	}
	/*regform*/
	.regform-wrapper {
		max-width: 640px;
		padding-top: 90px;
	}
}
@media only screen and (min-width: 1024px) {
	/*Nav*/
	.brand-logo .brand-icon {
		margin-left: 12%;
	}

	.desktop a:first-child {
		width: 11%;
	}
	.desktop a:nth-child(2) {
		width: 13%;
	}
	/* .desktop a:last-child {
		width: 30%;
	} */
	/*lista premios*/
	.lista-premios li:nth-child(2) p, .lista-premios li:nth-child(3) p {
		top: -18px;
	}

	/*patrocinadores*/
	.logos-wrapper, footer p {
		padding: 41px 63px;
	}

}
@media only screen and (min-width: 1280px) {
	.brand-logo .brand-icon {
		margin-left: 33%;
	}
	.desktop a:first-child {
		width: 11%;
	}
	.desktop a:nth-child(2) {
		width: 11%;
	}
	/* .desktop a:last-child {
		width: 22%;
	} */
	.lista-premios li p {
		top: -18px;
	}
	.circulo {
		left: 20px;
	}
	.fase-uno, .fase-dos {
		padding: 30px 20px;
	}
}

